<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOG4J" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{dd MMM yyyy HH:mm:ss} - %-5p %-5c{3} %x -> %m%n"/>		   
        </layout>
    </appender>
    <appender name="appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/app.log"/>
        <param name="Append" value="true"/>
	<param name="MaxFileSize" value="3000KB"/>        
        <param name="MaxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{dd MMM yyyy HH:mm:ss} - %-5p %-5c{3} %x -> %m%n"/>
        </layout>
    </appender>    
     <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
	<appender-ref ref="CONSOLE"/>
	<!-- appender-ref ref="appender"/-->
    </appender> 
    
    <logger name="com.dudhoo">
        <level value="DEBUG"/>
        <appender-ref ref="ASYNC"/>        
    </logger>
    <logger name="org.apache.derby">
        <level value="DEBUG"/>
        <appender-ref ref="ASYNC"/>        
    </logger>
</log4j:configuration>